h2{
    text-align: center;
    /* margin: 55px 0; */
    font-family: math;
    font-size: 30px;
    padding: 21px;
}

.user-login{
    margin-top: 55px;
    max-height: 450px;
}

p{
    text-align: center;
    color: red;
    margin-top: 45px;
}

.signup-choice{
    text-align: center;
    margin: 35px 0;
}

a{
    text-align: center;
    color: navy;
    text-decoration: none;
}