<div class="container products-table">
    <div class="head-and-search-div">
        <h3 class="list-header">Products List</h3>
        <input type="text" name="search1" class="search-bar1" placeholder="Search Product ..." [(ngModel)]="searchedValue">
        <input type="text" name="search2" class="search-bar1" placeholder="Search Bar 2 ..." [(ngModel)]="searchedValue2" [hidden]="!hideSearchBar2">
    </div>

    <hr>
    <button class="btn btn-danger" (click)="removeMultiple()" [hidden]="!hideMultipleDelete">Remove Multiple</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Checkbox</th>
                <th scope="col">Name</th>
                <th scope="col">Heading</th>
                <th scope="col">Subheading</th>
                <th scope="col">Items <fa-icon [icon]="sortIcon" (click)="sortClicked()" [ngClass]="!sortOrNot? 'blackIcon': 'blueIcon'"></fa-icon> </th>
                <th scope="col">Product expiry</th>
                <th scope="col">Tags</th>
                <th scope="col">Actions</th>
                
                <!-- <input type="checkbox" name="check" id="" [(ngModel)]="sortOrNot" (change)="onSort($event)"> -->
            </tr>
        </thead>
        <tbody *ngFor="let product of productsList; let i = index">
            <tr *ngIf="(product.productname.toLowerCase().includes(searchedValue.toLowerCase()) || product.subheading.toLowerCase().includes(searchedValue.toLowerCase()) || product.heading.toLowerCase().includes(searchedValue.toLowerCase()) || product.tags.toLowerCase().includes(searchedValue.toLowerCase()))">
                <td class="center-data"><input type="checkbox" name="check" id="check" ngModel (change)="eventCheck($event, product, i)"></td>
                <td class="center-data">{{product.productname}}</td>
                <td class="center-data">{{product.heading}}</td>
                <td class="center-data">{{product.subheading}}</td>
                <td class="center-data">{{product.stock}}</td>
                <td class="center-data">{{product.expiry}}</td>
                <td class="center-data">{{product.tags}}</td>
  
                <td> <button class="btn btn-info" (click)="onEdit(product)" [disabled]="!disableEdit">Edit</button> 
                    <button class="btn btn-danger" (click)="onRemove(product.id)">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>


















